.App {
    background-color: white;
}

.button {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit {
    display: inline;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 4px;
}

.submit:hover {
    background-color: #444;
    box-shadow: 0 3px #666;
}

.submit:active {
    background-color: #444;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}
.reset:hover {
    background-color: rgb(226, 219, 219);
    box-shadow: 0 3px #666;
}

.reset:active {
    background-color: rgb(233, 229, 229);
    box-shadow: 0 1px rgb(223, 223, 223);
    transform: translateY(1px);
}

.reset {
    display: inline;
    margin-left: 20px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: rgb(43, 43, 43);
    background-color: rgb(214, 208, 208);
    border: none;
    border-radius: 4px;
}

.input-translate {
    margin-top: 50px;
    display: block;
    width: 50%;
    height: 200px;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin-left: 25%;
}

.answer {
    display: block;
    width: 50%;
    height: 200px;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    background-color: rgb(199, 197, 197);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin-left: 25%;
    text-align: left;
}

.title-banner{
    display: block;
    margin: 15% 64%;
    width: 100%;
}

.title-banner-rule{
    margin-left: 65%;
    width: 100%;
}